
header{
    background-color: rgb(252, 252, 252); 
    border: 8px solid rgb(8, 8, 77);
    border-radius: 8em;
    border-top-right-radius: 30% 30% 30% 30%;    
}
body{
    background-color: rgb(5, 11,99 );
}
img{
   display: block;
   margin: auto; 
   animation-name: aparecer;
   animation-iteration-count:initial;
   animation-duration: 3s;  
   animation-timing-function: ease;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font: small-caps 400%/200% serif;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}  
h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font: small-caps 300%/100% serif;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count:initial;   
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.menu{
    display:grid;
    grid-template-columns:auto auto auto auto;
    justify-content: space-evenly;
    
}
.lista {
    display: flex;
    padding:5px 50px;
    text-align: center;
    font: small-caps 110%/75% serif;
    background-color: #ffffff;
    border: rgb(8,8,77) 3px solid; 
    animation-name: aparecer;
    animation-iteration-count:initial;
    animation-duration: 3s;     
}
/* css pagina SOBRE NOSOTROS*/
#divtransition:hover{
    width: 1000px;
    transition: width 10s;
}
p{
    font-weight: bold;
    text-align: center;
    font: small-caps 100%/50% serif;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 70, 122);   
    border-style: outset;
    border-width: thick;
    line-height: 200%;
    padding: 50px; 
    border-color: rgb(8,8,77)
}
.hijo{
    text-align: center;
    color: rgb(252, 252, 252);
    font: small-caps 150%/200%;
    font-weight: bold;
}
.texto{
    display: grid;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight:normal;
}
.piedepagina{
    text-align: center;
    color: rgb(255, 255, 255);
}
/* css pagina GALERIA  */
.video{
    display: flex;
    margin-right: 250px;
    margin-left: 550px;
}
p{
    font-weight: bold;
    text-align: center;
    font: small-caps 100%/50% serif;
}
.grid-padre{
    display:grid;
    grid-row-gap: 15px;
    
}
.grid-hijo{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

/* css pagina COTIZACIONES */
h3{
    color: rgb(255, 255, 255);
    font: small-caps 150%/75% serif;
}
.caja{
    border-color: rgb(3, 12, 100);
    border-width:medium;
    background-color: #ffffff;
}
.bordes {
    border-color: rgb(15, 15, 15);
    border-width:thin;
}
.subtitulo{
    color:black ;
    font: small-caps 150%/75% serif;
    align-items:left;
}
/* css pagina UBICACION */
.alineacion{
    display: grid;
    margin: auto;
}
/* css pagina CONTACTO*/
.borde{
    border-color: rgb(8,8, 77);
    border-width:thick;
    text-align: center;
    
    background-color: rgb(255, 255, 255);
}
.colordeletra{
    color: rgb(0, 0, 0);
    font-weight:normal;
}
h2{
    text-align: center;
    color: rgb(255, 255, 255);
}
p{
    font-weight: bold;
    text-align: center;
    font: small-caps 130%/70% serif;
}
.botones{
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){
    .menu, .lista{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
    }
        h1{
        text-align: center;
        color: darkblue;
        font: small-caps 200%/75% serif;
        background-color: rgb(22, 200, 206); /* referencia para comprobar que funciona*/
     }
     h2{
        text-align: center;
        color: rgb(255, 255, 255);
        font: small-caps 300%/100% serif;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count:initial;   
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
     .grid-padre{
        display:grid;
        grid-template-columns: repeat(0, auto);
        justify-content: center;   
    }
    .grid-padre img{
        width: 500px; 
        max-height: 80%;  
    }
     .grid-hijo{
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
      
    }
    .grid-hijo img{
        width: 180px; 
        max-height: 95%; 
       
    }
    .video{
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        width: 500px;
        max-height: 95%;
        
    }
     .alineacion{
        display: flex;
        margin: auto;
        width: 600px;
        max-height: 95%;
    }
    .bordetext{
        width: 350px; 
        max-height: 95%; 
    }
    img{
        display: block;
        margin: auto; 
        animation-name: aparecer;
        animation-iteration-count:initial;
        animation-duration: 3s;  
        animation-timing-function: ease;
     }
}
@media (max-width: 560px){
    .menu, .lista{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    h1{
        text-align: center;
        color: darkblue;
        font: small-caps 180%/75% serif;
        background-color: rgb(29, 151, 252); /*refencia para comprobar que funciona*/
    }
    h2{
        text-align: center;
        color: rgb(255, 255, 255);
        font: small-caps 300%/100% serif;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count:initial;   
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .grid-padre{
        display:grid;
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        justify-content: center;
    }
    .grid-padre img{
        width: 450px; 
        max-height: 70%;  
    
    }
    .grid-hijo{
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
    .grid-hijo img{
        width: 170px; 
        max-height: 90%;  
    }
    .video{
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        width: 400px; 
        height: 300px
    }
    img{
        display: block;
        margin: auto; 
        animation-name: aparecer;
        animation-iteration-count:initial;
        animation-duration: 3s;  
        animation-timing-function: ease;
     }
    .alineacion{
        display: block;
        margin: auto;
        width: 300px;
        max-height: 90%;
    }
}