header {
  background-color: #fcfcfc;
  border: 8px solid #08084d;
  border-radius: 8em;
  border-top-right-radius: 30% 30% 30% 30%;
}

.fondo {
  background-color: #070a52;
}

img {
  display: block;
  margin: auto;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.text-center1 {
  text-align: center;
  color: white;
  font: small-caps 300%/100% serif;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.text-center2 {
  text-align: center;
  color: white;
  font: small-caps 300%/100% serif;
  background-color: #1279da;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

/*BARRA MENU*/
.container__menu {
  display: inline-table;
  width: 100%;
  background: white;
  padding: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav > ul > li {
  list-style: none;
  position: relative;
}

nav > ul > li > a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #090a41;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font: small-caps bold 150%/50% serif;
}

nav > ul > li > a:hover {
  -webkit-transform: scale 1.1;
          transform: scale 1.1;
  background: #9f9fac;
  -webkit-box-shadow: 0px 0px 10px 0px darkblue;
          box-shadow: 0px 0px 10px 0px darkblue;
}

/*elementos responsivos*/
.icon__menu {
  display: none;
  font-size: 30px;
  color: #070a52;
  cursor: pointer;
  width: 26px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#check__menu {
  display: none;
}

#label__check {
  width: 26px;
  height: 100%;
}

/* css pagina SOBRE NOSOTROS*/
p {
  font-weight: bold;
  text-align: center;
  font: small-caps 100%/50% serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  color: white;
  /*maps*/
  background-color: #3561b3;
  border-style: outset;
  border-width: thick;
  line-height: 200%;
  padding: 50px;
  border-color: #08084d;
}

.hijo {
  text-align: center;
  color: #fcfcfc;
  font: small-caps 150%/200%;
  font-weight: bold;
}

.texto {
  display: -ms-grid;
  display: grid;
  text-align: center;
  color: white;
  font-weight: normal;
}

.piedepagina {
  text-align: center;
  color: white;
}

/* css pagina GALERIA  */
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

p {
  font-weight: bold;
  text-align: center;
  font: small-caps 100%/50% serif;
}

/* css pagina COTIZACIONES */
h3 {
  font: small-caps 150%/75% serif;
}

.bordes {
  border-color: #0f0f0f;
  border-width: thin;
}

.formulario {
  background-color: #e3e9ebfa;
  background-size: auto;
  padding: 20px;
}

.subtitulo {
  color: black;
  font: small-caps 150%/75% serif;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 20px;
}

.bordeformulario {
  display: -ms-grid;
  display: grid;
  margin: auto;
  width: 1000px;
  height: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* css pagina UBICACION */
.alineacion {
  display: -ms-grid;
  display: grid;
  margin: auto;
}

/* css pagina CONTACTO*/
.colordeletra {
  color: black;
  font-weight: normal;
}

h1 {
  text-align: center;
  color: white;
  font: small-caps 300%/100% serif;
}

h2 {
  text-align: center;
  color: white;
}

p {
  font-weight: bold;
  text-align: center;
  font: small-caps 130%/70% serif;
}

.text-center {
  background-color: #1279da;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn, .newbtn {
  font-style: italic;
  background-color: #dbfdff;
  font-size: large;
}

/*extend*/
/*mixin*/
.btn-1 {
  font-weight: bold;
  text-decoration: underline;
}

/*media queries */
@media (max-width: 720px) {
  .menu, .lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  h1 {
    text-align: center;
    color: darkblue;
    font: small-caps 80%/50% serif;
    /* referencia para comprobar que funciona*/
  }
  h2 {
    text-align: center;
    color: white;
    font: small-caps 300%/100% serif;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 158px;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
  }
  nav > ul > li > a:hover {
    -webkit-transform: scale 1;
            transform: scale 1;
  }
  nav ul li ul {
    left: 90px;
  }
  nav ul > li:hover ul {
    top: 50px;
  }
  #selected {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #label__check {
    display: block;
  }
  .icon__menu {
    display: block;
    font-size: 20px;
    color: #070a52;
  }
  #check__menu:checked ~ nav > ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 450px;
    height: 350px;
  }
  .alineacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 600px;
    max-height: 95%;
  }
  .bordetext {
    width: 350px;
    max-height: 95%;
  }
  img {
    display: block;
    margin: auto;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  .bordeformulario {
    display: -ms-grid;
    display: grid;
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .formulario {
    display: -ms-grid;
    display: grid;
    background-color: #d7dcddfa;
    background-size: auto;
    padding: 20px;
  }
}

/*media queries */
@media (max-width: 320px) {
  .menu, .lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  h1 {
    text-align: center;
    color: darkblue;
    font: small-caps 180%/75% serif;
  }
  h2 {
    text-align: center;
    color: white;
    font: small-caps 300%/100% serif;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: auto;
    height: auto;
  }
  img {
    display: block;
    margin: auto;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  .alineacion {
    display: block;
    margin: auto;
    width: 300px;
    max-height: 90%;
  }
  .bordeformulario {
    display: -ms-grid;
    display: grid;
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .formulario {
    display: -ms-grid;
    display: grid;
    background-color: #d7dcddfa;
    background-size: 100px;
    width: 200px;
    padding: 5px;
  }
  .form-control {
    background-size: 50px;
  }
  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 158px;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
  }
  nav > ul > li > a:hover {
    -webkit-transform: scale 1;
            transform: scale 1;
  }
  nav ul li ul {
    left: 90px;
  }
  nav ul > li:hover ul {
    top: 50px;
  }
  #selected {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #label__check {
    display: block;
  }
  .icon__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    color: #070a52;
  }
  #check__menu:checked ~ nav > ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */